<a href="https://colab.research.google.com/github/rajssnbeme/main/blob/main/ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#https://machinelearningmastery.com/one-hot-encoding-for-categorical-data/
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from math import exp
from google.colab import files

In [ ]:
uploaded=files.upload()

In [ ]:
type(uploaded)

dict

In [ ]:
new = pd.DataFrame.from_dict(uploaded,orient ='index')

In [ ]:
type(new)

pandas.core.frame.DataFrame

In [2]:
af=pd.read_csv('OF347-Samples.csv')
af

   DATE OF ORDER CONTRACT NO.  ... SCHEDULE_UNIT PRICE SCHEDULE_AMOUNT
0     23-12-2000       N93827  ...                1min             .2$
1     15-02-2021       N55683  ...                  20            2000
2     30-10-2021       N36686  ...                  20            2000
3     17-03-2021       N66195  ...                  20            2000
4     07-01-2021       N42276  ...                  20            2000
..           ...          ...  ...                 ...             ...
94    21-12-2021       N22255  ...                  20            2000
95    18-11-2021       N24404  ...                  20            2000
96    23-10-2021       N24159  ...                  20            2000
97    16-11-2021       N55045  ...                  20            2000
98    12-08-2021       N84295  ...                  20            2000

[99 rows x 35 columns]

In [3]:
af.head(2)

  DATE OF ORDER CONTRACT NO.  ... SCHEDULE_UNIT PRICE SCHEDULE_AMOUNT
0    23-12-2000       N93827  ...                1min             .2$
1    15-02-2021       N55683  ...                  20            2000

[2 rows x 35 columns]

In [4]:
af[['DATE OF ORDER']].head(2)

print(af.iloc[:2, -2:])

  SCHEDULE_UNIT PRICE SCHEDULE_AMOUNT
0                1min             .2$
1                  20            2000

In [5]:
y_train_original = pd.read_csv('./OF347-Samples.csv', 
                               header = [0],  # Top row is header.
                               index_col = 0) # First col is index.
y_train_original.head()

              CONTRACT NO. ORDER NO.  ... SCHEDULE_UNIT PRICE SCHEDULE_AMOUNT
DATE OF ORDER                         ...
23-12-2000          N93827   O342325  ...                1min             .2$
15-02-2021          N55683   O463164  ...                  20            2000
30-10-2021          N36686   O998312  ...                  20            2000
17-03-2021          N66195   O923235  ...                  20            2000
07-01-2021          N42276   O759276  ...                  20            2000

[5 rows x 34 columns]

In [11]:

pd.value_counts(y_train_original.CITY, normalize = True)

Chicago          0.030303
New York         0.020202
Portland         0.020202
Thousand Oaks    0.020202
Honolulu         0.020202
                   ...
Hampstead        0.010101
Middleboro       0.010101
Cedar Grove      0.010101
Saint Paul       0.010101
Miami            0.010101
Name: CITY, Length: 92, dtype: float64

In [15]:
dataset = pd.read_csv('OF347-Samples.csv', header=None)
data = dataset.values
data

array([['DATE OF ORDER', 'CONTRACT NO.', 'ORDER NO.', ...,
        'SCHEDULE_UNIT', 'SCHEDULE_UNIT PRICE', 'SCHEDULE_AMOUNT'],
       ['23-12-2000', 'N93827', 'O342325', ..., 'PPM', '1min', '.2$'],
       ['15-02-2021', 'N55683', 'O463164', ..., '1', '20', '2000'],
       ...,
       ['23-10-2021', 'N24159', 'O171493', ..., '1', '20', '2000'],
       ['16-11-2021', 'N55045', 'O901661', ..., '1', '20', '2000'],
       ['12-08-2021', 'N84295', 'O710460', ..., '1', '20', '2000']],
      dtype=object)

In [17]:
X = data[:, 1:].astype(str)
X

array([['CONTRACT NO.', 'ORDER NO.', 'REQUISTION/REF NO', ...,
        'SCHEDULE_UNIT', 'SCHEDULE_UNIT PRICE', 'SCHEDULE_AMOUNT'],
       ['N93827', 'O342325', 'R432', ..., 'PPM', '1min', '.2$'],
       ['N55683', 'O463164', 'R50747811', ..., '1', '20', '2000'],
       ...,
       ['N24159', 'O171493', 'R21329202', ..., '1', '20', '2000'],
       ['N55045', 'O901661', 'R66183378', ..., '1', '20', '2000'],
       ['N84295', 'O710460', 'R42418828', ..., '1', '20', '2000']],
      dtype='<U35')

In [21]:
y = data[:,0].astype(str)
y

array(['DATE OF ORDER', '23-12-2000', '15-02-2021', '30-10-2021',
       '17-03-2021', '07-01-2021', '01-04-2021', '30-06-2021',
       '30-12-2021', '08-10-2021', '12-09-2021', '06-05-2021',
       '18-02-2021', '03-06-2021', '12-04-2021', '18-05-2021',
       '27-12-2021', '12-04-2021', '25-02-2021', '22-05-2021',
       '10-06-2021', '08-06-2021', '22-05-2021', '28-09-2021',
       '13-05-2021', '20-03-2021', '08-09-2021', '11-05-2021',
       '20-11-2021', '11-10-2021', '08-09-2021', '11-11-2021',
       '31-01-2021', '16-03-2021', '17-03-2021', '15-02-2021',
       '17-10-2021', '03-12-2021', '01-04-2021', '24-06-2021',
       '23-07-2021', '15-04-2021', '11-03-2021', '29-11-2021',
       '17-10-2021', '25-09-2021', '12-05-2021', '30-06-2021',
       '20-09-2021', '04-05-2021', '12-09-2021', '12-03-2021',
       '22-07-2021', '27-02-2021', '22-12-2021', '15-05-2021',
       '04-03-2021', '08-03-2021', '28-12-2021', '23-12-2021',
       '17-07-2021', '22-03-2021', '09-02-2021', '21-02-2021',
       '11-01-2021', '20-07-2021', '26-06-2021', '25-04-2021',
       '10-10-2021', '15-07-2021', '08-08-2021', '27-03-2021',
       '29-11-2021', '02-11-2021', '28-09-2021', '06-08-2021',
       '29-05-2021', '02-04-2021', '07-05-2021', '03-05-2021',
       '07-11-2021', '13-11-2021', '04-03-2021', '28-05-2021',
       '19-05-2021', '22-06-2021', '30-01-2021', '14-01-2021',
       '23-11-2021', '24-04-2021', '19-08-2021', '10-04-2021',
       '20-09-2021', '02-08-2021', '14-02-2021', '21-12-2021',
       '18-11-2021', '23-10-2021', '16-11-2021', '12-08-2021'],
      dtype='<U13')

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1)

In [42]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
# ordinal encode input variables
ordinal_encoder = OrdinalEncoder()
ordinal_encoder.fit(X_train)
X_train = ordinal_encoder.transform(X_train)
ordinal_encoder.fit(X_test)
X_test = ordinal_encoder.transform(X_test)
# ordinal encode target variable
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
y_train = label_encoder.transform(y_train)
label_encoder.fit(y_test)
y_test = label_encoder.transform(y_test)

In [43]:
print('X_train',X_train.shape)
print('y_train',y_train.shape)
print('X_test',X_test.shape)
print('y_test',y_test.shape)

X_train (70, 34)
y_train (70,)
X_test (30, 34)
y_test (30,)

In [46]:
X_test

array([[26.,  7.,  5., ...,  0.,  0.,  0.],
       [24.,  1., 11., ...,  0.,  0.,  0.],
       [18., 19., 28., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  5., 23., ...,  0.,  0.,  0.],
       [27.,  9., 21., ...,  0.,  0.,  0.],
       [16.,  4., 15., ...,  0.,  0.,  0.]])

In [24]:
print('Input', X.shape)
print(X[:5, :])
print('Output', y.shape)
print(y[:5])

Input (100, 34)
[[ 0. 99. 99. 36. 55. 59. 99. 15. 22. 98.  1. 78. 63. 16. 99. 13. 27. 98.
   2.  0.  1.  0.  0. 54. 56. 99. 99.  0.  1.  1.  1.  2.  2.  2.]
 [99. 24. 45. 79. 49. 79. 25.  3. 26. 34.  0. 15. 71. 65. 30. 16.  4. 34.
   0.  2.  0.  5.  1. 15. 92.  0.  0.  1.  0.  0.  2.  1.  0.  0.]
 [59. 36. 52. 55. 35. 76. 32. 11.  3. 65.  0.  6. 40. 71. 22.  6. 13. 36.
   1.  2.  0.  1.  1.  6.  3.  1.  1.  1.  0.  0.  0.  0.  1.  1.]
 [38. 97. 97. 12. 30. 72. 48. 79.  2. 83.  0. 37. 92. 20. 31. 38. 29. 65.
   1.  1.  0.  3.  1. 37. 11.  2.  2.  1.  0.  0.  0.  0.  1.  1.]
 [70. 89. 20. 11.  4.  8.  9. 38.  6. 91.  0. 11. 33. 30. 33. 11. 23.  7.
   1.  2.  0.  1.  1. 11. 78.  3.  3.  1.  0.  0.  0.  0.  1.  1.]]
Output (100,)
[86 65 37 83 43]

In [47]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [49]:
# fit on the training set
model.fit(X_train, y_train)
# predict on test set
yhat = model.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()